body {
	min-height: 100vh;
	background: #34616F;
}

.container{
	min-height: 100vh;
	background: #fff;
}

table.tablaClientes{
	border: 1px solid #ccc;
}

th{
	padding: 5px;
		text-align: center;
}

td{
	text-align: center;
}

.btnFinalizar{
	width: 100%;
}