body {
	min-height: 100vh;
	background: #34616F;
}

.container{
	min-height: 100vh;
	background: #fff;
}
.formularioPagarPrestamo{
	border: 2px solid #ccc;
	padding: 10px;
	margin-bottom: 5px;
}

#detallePrestamo tr th, #detallePrestamo tr td{
	text-align: center;
}